# ignoring the database
postgres-data/

# ignoring the uploaded photos
library/
uploads/

# ignoring the secret config files (passwords)
.env

# ignoring the system files
.DS_Store

# ignoring postgres
postgres/ 

# ignoring the names of the users
users.json

#ignoring cache 
__pycache__/
*.pyc
mealie/mealie-data/
